@import '../utilities';
@import '../colors';

// Login & Register
// ================================================================

body.login {
    background: url('../../images/login.jpg') #7ad5f3;
    background-position: center;
    background-size: cover;

    div#login {
        h1 a {
            background: url('../../images/logo.png') center no-repeat;
            background-size: contain;
            width: 100%;
        }

        form#loginform {
            border-radius: 3px;
            box-shadow: none !important;
            padding: 24px;

            p label {
                color: color('dark');
                font-weight: 400;
            }

            input {
                border: none;
            }
        }

        p {
            &#nav a,
            &#backtoblog a {
                color: white;

                &:hover {
                    color: white;
                }
            }
        }
    }
}
