// Fonts
// ================================================================

$fonts: (
    heading: #{'Playfair Display SC', serif},
    body: #{'Source Sans 3', serif},
);

*,
*:focus {
    box-sizing: border-box;
}
img {
    height: auto;
    max-width: 100%;
    width: auto;

    &.alignright {
        margin: 20px 0 20px 0;
        
        @include breakpoint(769px up){
            margin: 0 0 20px 20px;
            float: right;
        }
    }

    &.alignleft {
        margin: 20px 0 20px 0;
        
        @include breakpoint(769px up){
            margin: 0 20px 20px 0;
            float: left;
        }
    }

    &.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

body {
    background: white;
    color: color(dark);
    font-family: 'Source Sans 3', sans-serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 42px;
}

button,
.button {
    @extend %button;
}
