// Layouts // ================================================================

.masthead {
    background: color('light');
    display: none;

    @include breakpoint(769px up) {
        display: block;
    }
    .container {
        font-weight: bold;
        padding: 10px 0 15px;
        text-align: center;
    }
}
.banner {
    background: color(one);

    .container {
        align-items: center;
        color: color(light);
        display: flex;
        justify-content: flex-start;
        padding-top: 10px;
        padding-bottom: 10px;
        // text-align: center;
        
        section{
            flex-basis: 100%;
            
            @include breakpoint(769px up){
                flex-basis: 50%;
            }
            &:first-child{
                text-align: left;
            }
            &:last-child{
                text-align: right;
            }
            ul.social-links{
                margin: 0;
                padding: 0;

                li{
                    a{
                        font-size: 22px;
                    }
                }
            }
            a{
                color: color(light);
                margin: 0;
            }
        }
    }
}

header {
    position: relative;

    .main-header {
        display: none;

        @include breakpoint(769px up) {
            display: block;
        }
        .container {
            display: block;

            @include breakpoint(769px up) {
                align-items: center;
                display: flex;
            }
            .logo {
                display: none;
                text-align: center;
                width: 100%;

                @include breakpoint(769px up) {
                    display: block;
                    width: auto;
                }

                a {
                    img {
                        max-width: 250px;
                    }
                }
            }

            .menu {
                display: none;

                @include breakpoint(769px up) {
                    display: flex;
                    flex-grow: 2;
                }
                nav {
                    width: 100%;

                    ul {
                        float: right;
                        padding: 0;
                        position: relative;

                        li {
                            text-align: center;
                            display: inline-block;
                            position: relative;

                            &:not(:first-child) {
                                margin: 0 0 0 10px;
                            }
                            &:hover {
                                a {
                                    color: color(two);
                                }
                            }
                            a {
                                color: color('one');
                                display: block;
                                font-weight: bold;
                                padding: 40px 5px;
                                text-transform: uppercase;

                                i.fa {
                                    width: 100%;
                                    margin: 0 0 5px 0;
                                }
                            }

                            // Dropdown
                            ul.dropdown {
                                background: color('one');
                                box-shadow: 4px 4px 6px transparentize(black, 0.95);
                                display: none;
                                margin: 0; // The differential of li padding and dropdown li padding
                                max-width: 250px;
                                position: absolute;
                                left: 0;
                                width: 250px;
                                z-index: 9;

                                li {
                                    text-align: left;
                                    margin: 0;
                                    display: block;
                                    position: relative;

                                    @include transition(0.06s);

                                    &:hover {
                                        background: color('two');
                                    }

                                    &:not(:last-child) {
                                        // border-bottom: 1px solid transparentize(white, 0.95);
                                    }

                                    a {
                                        color: white;
                                        font-size: 16px;
                                        padding: 10px 15px; // See dropdown margin
                                        display: block;
                                    }

                                    // Dropdown
                                    ul.dropdown {
                                        top: 0;
                                        left: 100%;
                                        margin: 0;
                                        display: none;
                                    }
                                }
                            }
                            &:last-child {
                                ul.dropdown {
                                    // If there is a dropdown on the last element, set it to align right rather than left
                                    left: unset;
                                    right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#error {
    background: url('../images/pattern.jpg') center repeat;

    .container {
        article {
            width: 100%;
            text-align: center;
            margin: 0 auto;

            img {
                max-width: 220px;
                margin: 0 auto 20px;
            }

            p {
                color: white;
            }
        }
    }
}

#front {
    position: relative;
}

#archive,
#index,
#search {
}
#archive{
    .filter-container{
        padding: 100px 0 45px;

        form#category-filter{
            select{
                background-color: color(light);
                border: 1px solid color(dark);
                border-radius: 0;
                cursor: pointer;
                padding: 10px 15px;
            }
        }
    }
    .post-container {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        padding-top: 0;

        @include breakpoint(769px up) {
            gap: 33px;
            justify-content: flex-start;
        }
    }
}
.footer-cta {
    background-color: color(light);
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    @include breakpoint(769px up){
        flex-wrap: nowrap;
    }
    section{
        flex-basis: 100%;
        padding: 59px 20px;

        @include breakpoint(769px up){
            flex-basis: 50%;
            padding: 81px 37px;
        }
    }
    aside{
        background-position: center;
        background-size: cover;
        flex-basis: 100%;
        height: 382px;

        @include breakpoint(769px up){
            flex-basis: 50%;
            height: auto;
        }
    }
}
footer {
    background: white;

    .container {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        padding-top: 60px;
        padding-bottom: 60px;

        aside {
            flex-basis: 100%;
            text-align: center;

            @include breakpoint(769px up) { 
                flex-basis: 50%;
                text-align: left;
            }
            .footer-logo {
                margin-bottom: 20px;
                max-width: 400px;
            }
        }
        section {
            flex-basis: 100%;
            text-align: center;

            @include breakpoint(769px up) {
                flex-basis: 50%;
                text-align: right;
            }
            a {
                color: color(one);

                &:hover{
                    color: color(two);
                }
            }
            .footer-menu {
                margin-top: 20px;
                
                ul {
                    margin-left: 0;
                    padding-left: 0;

                    li {
                        display: inline-block;
                        margin-bottom: 10px;
                        margin-left: 0;
                        
                        @include breakpoint(769px up){
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }
    .copyright {
        flex-direction: column-reverse;
        padding: 0;
        
        @include breakpoint(769px up){
            flex-direction: initial;
        }
        section{
            text-align: center;

            @include breakpoint(769px up){
                text-align: left;
            }
            p{
                line-height: 1em;
            }
        }
        aside{
            text-align: center;

            @include breakpoint(769px up){
                text-align: right;
            }
            ul{
                margin: 0 0 20px;
                padding: 0;

                li{
                    display: inline-block;
                    padding: 0;
                    margin-left: 20px;

                    &:first-child{
                        margin-left: 0;
                    }
                    a{
                        font-weight: 400;

                        &:hover{
                            color: color(two);
                        }
                    }
                }
            }
        }
    }
}
