- get_header()
- if(get_field('footer_CTA', 'options') == "on" && is_front_page()): 
	.footer-cta
		section 
			h2: - echo get_field('footer_cta_title', 'options')
			- echo get_field('footer_cta_content', 'options')
			- if(get_field('footer_cta_button', 'options')) :
				a.button.button-slide(
					href="<?= get_field('footer_cta_button', 'options')['url'];?>" 
					target="<?= get_field('footer_cta_button', 'options')['target'];?>"
					) 
					- echo get_field('footer_cta_button', 'options')['title']
			- endif
			- if(get_field('form_embed_code', 'options')):
				- echo do_shortcode(get_field('form_embed_code', 'options'))
			- endif
		aside(style="background-image:url('<?= get_field('footer_cta_image', 'options')['url']; ?>');" alt="<?= get_field('footer_cta_image', 'options')['alt']; ?>")
- endif

footer.hrz-padding
	.container
		aside
			- if (have_rows('phone_numbers', 'options')) :
				.footer-contact-wrapper
					- while (have_rows('phone_numbers', 'options')) : the_row()
						.footer-contact-block
							- $phone_raw = get_sub_field('number')
							- $phone = str_replace([" ", "(", ")", "-"], "", $phone_raw)
							p: strong= get_sub_field('location')
							a(href="tel:<?= $phone ?>" target="_blank")
								- echo get_sub_field('number')
					- endwhile
			- endif
		//- 	.footer-logo
		//- 		a(href="<?php echo esc_url( home_url('/') ) ;?>")
		//- 			img(
		//- 				src="<?= get_field('site_logo', 'options')['url'];?>" 
		//- 				alt="<?= get_field('site_logo', 'options')['alt'];?>"
		//- 				)
		section
			- if (have_rows('extra_buttons', 'options')) :
				- while (have_rows('extra_buttons', 'options')) : the_row()
					a.button.button-slide(href="<?= get_sub_field('footer_button')['url'];?>" target="<?= get_sub_field('footer_button')['target'];?>" aria-label="<?= get_sub_field('footer_button')['title'];?>") 
						- echo get_sub_field('footer_button')['title']
					br
				- endwhile
			- endif
		//- 	- include('includes/social-links.php')
		//- 	- include('includes/contact-info.php')

	.copyright.container
		section 
			p &copy; Copyright <?= date('Y'); ?>  <?= get_bloginfo('name') ?>
			p(style="font-size: 16px;"): - echo get_field('copyright_addition', 'options')
		aside
			.footer-menu
				- footer_menu()

- wp_footer()

</body>
</html>