- get_header()
- if(get_field('footer_CTA', 'options') == "on"): 
	.footer-cta
		section 
			h2: - echo get_field('footer_cta_title', 'options')
			- echo get_field('footer_cta_content', 'options')
			- if(get_field('footer_cta_button', 'options')) :
				a.button.button-slide(
					href="<?= get_field('footer_cta_button', 'options')['url'];?>" 
					target="<?= get_field('footer_cta_button', 'options')['target'];?>"
					) 
					- echo get_field('footer_cta_button', 'options')['title']
			- endif
			- if(get_field('form_embed_code', 'options')):
				p: - echo get_field('form_embed_code', 'options')
			- endif
		aside(style="background-image:url('<?= get_field('footer_cta_image', 'options')['url']; ?>');" alt="<?= get_field('footer_cta_image', 'options')['alt']; ?>")
- endif

footer.hrz-padding
	.container
		aside
			.footer-logo
				a(href="<?php echo esc_url( home_url('/') ) ;?>")
					img(
						src="<?php echo esc_url(get_theme_file_uri()) ?>/images/logo.png" 
						alt="<?php bloginfo('name') ?> Logo"
						)
		section
			- include('includes/social-links.php')
			- include('includes/contact-info.php')

	.copyright.container
		section 
			p &copy; Copyright <?= date('Y'); ?>, <?= get_bloginfo('name') ?>
		aside
			.footer-menu
				- footer_menu()

- wp_footer()

</body>
</html>