doctype html
<html <?php language_attributes(); ?>>
head
    meta(charset="<?php bloginfo( 'charset' ); ?>")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="ie=11")

    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin="")

    link(href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@0;1&family=Source+Sans+3:ital,wght@0,300;0,700;1,300;1,700&display=swap" rel="stylesheet")

    script(src="https://www.youtube.com/player_api")

    - wp_head()

<body <?php body_class(); ?>>

- wp_body_open();

- if ( is_front_page() ) :
    - $home_mobile = 'home-mobile'
- else :
    - $home_mobile = ''
- endif;

//- .masthead.hrz-padding
//-     .container
//-         a(href="tel:>") 111-222-3333

.banner.hrz-padding
    .container
        section
            - include('includes/social-links.php')
        section
            - if(get_field('phone_number', 'options')) :
                - $phone_raw = get_field('phone_number', 'options')
                - $phone = str_replace([" ", "(", ")", "-"], "", $phone_raw)
                a.contact-phone(href="tel:<?= $phone ?>" target="_blank"): - echo get_field('phone_number', 'options')
            - endif
.mobile
    .topbar
        a.mobile-logo(href="<?php echo esc_url(home_url('/')) ?>")
            img(
                src="<?php echo esc_url(get_theme_file_uri()) ?>/images/logo-white.png" 
                alt="<?php bloginfo('name') ?> Logo"
                )
        .menu-icon
            .line
            .line 
            .line
        .block
            .mobile-bottom.hrz-padding
                - mobile_menu()
header
    .main-header.hrz-padding
        .container
            .logo
                a(href="<?= esc_url(home_url('/')) ?>")
                    img(
                        src="<?= esc_url(get_theme_file_uri()) ?>/images/logo.png" 
                        alt="<?php bloginfo('name') ?> Logo"
                        )

            .menu
                nav
                    - if ( has_nav_menu('header') ) :
                        - header_menu()
                    - endif;

- if (! (is_front_page() || is_404())) :
    - include('includes/featured.php')
    //- - include('includes/breadcrumbs.php')
- endif
