- get_header()

article#single.hrz-padding
    .container.content-block
        .social-block
            aside 
                p: - echo get_the_date()
            section
                - get_template_part( 'includes/share-buttons' );
        - if (have_posts()) :
            - while (have_posts()) : the_post()
                - the_content()
            - endwhile

            - wp_reset_postdata()
        - else :
            - include('includes/loop_missing.php')
        - endif

- get_footer()