- $header = get_sub_field('header')
- $content = get_sub_field('content')
- $image = get_sub_field('image')
- $button = get_sub_field('button')
- $video = get_sub_field('video_embed')
- $image_position = get_sub_field('image_position')

section.flex-block.flex-content-image.hrz-padding(class="img-position-<?= $image_position;?>")
	.container.columns.col-count-2.vert-padding
		section.column
			- if($header) :
				h2: - echo $header
			- endif

			- if($content) : 
				- echo $content
			- endif

			- if($button): 
				a.button.button-slide(
					href="<?= $button['url']; ?>" 
					target="<?= $button['target']; ?>") 
					- echo $button['title']
			- endif
		aside.column
			- if($image && !$video) :
				.image-wrapper(
					style="background-image:url('<?= $image['url'];?>');"
					alt="<?= $image['alt'];?>")
			- endif
			- if($video) :
				.video-wrapper
					- echo $video
			- endif