- $header = get_sub_field('header')
- $content = get_sub_field('content')
- $gallery = get_sub_field('gallery')

section.flex-block.flex-gallery-grid.hrz-padding.bg-color-dark
	.container.content-block
		- if($header) :
			h2: - echo $header
		- endif

		- if($content) : 
			- echo $content
		- endif

		//- - echo get_sub_field('image_captions')
		- if(get_sub_field('image_captions') == 'on'):
			h2 CAPTIONS
			- $show_captions = true
		- else :
			h2 NO CAPTIONS
			- $show_captions = false
		- endif
		- if (have_rows('gallery')) :
			.gallery-grid
				- while (have_rows('gallery')) : the_row()
					.gallery-img-wrapper
						.gallery-img(aria-label="<?= get_sub_field('image')['alt']?>" style="background-image:url('<?= get_sub_field('image')['url']?>'); height: 400px;")
						- $image_id = get_post_thumbnail_id(); // Example: Getting the ID of the post's featured image
						- $caption = wp_get_attachment_caption($image_id);
						- if(get_sub_field('image')['caption']) :
							p: - echo esc_html(get_sub_field('image')['caption'])
						- endif
				- endwhile
		- endif