//- Variables
- $bg_color = "bg-color-" . get_sub_field('background_color')
- $content = get_sub_field('content')

section.flex-block.flex-content.hrz-padding(class="<?= $bg_color . ' ' . $bg_overlay; ?>")
	.container.vert-padding
		- if($content) :
			- echo $content
		- endif
		- if(get_sub_field('button')): 
			a.button.button-slide(
				href="<?php echo get_sub_field('button')['url'];?>" 
				target="<?php echo get_sub_field('button')['target'];?>")
				- echo get_sub_field('button')['title']
		- endif