- $background_image = get_sub_field('background_image') ? get_sub_field('background_image')['url'] : ''

section.flex-block.flex-testimonial-slider.hrz-padding(style="background-image: url('<?= $background_image;?>');")
	.container.content-block
		- if (have_rows('testimonials')) :
			.swiper.testimonial-slider
				.swiper-wrapper
					- while (have_rows('testimonials')) : the_row()
						.swiper-slide
							p: - echo get_sub_field('testimonial')
							h4: - echo get_sub_field('testimonial_name')
					- endwhile
				.swiper-button-prev
				.swiper-button-next
		- endif