- // Check if post has thumbnail, else grab default post image
- if ( has_post_thumbnail() ) :
    - $thumbnail = wp_get_attachment_image_src( get_post_thumbnail_id(), 'full' )[0]
- else :
    - $thumbnail = get_theme_file_uri() . "/images/post.jpg"
- endif

a.post(href="<?= get_permalink() ?>")
    .post-image(style="background-image: url(<?= $thumbnail ?>)")
    .post-content
        h4: - echo get_the_title()